.admin-nav-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    position: fixed;
    top: var(--nav-height);
    left: 0;

    height: var(--admin-nav-height);
    width: 100%;

    padding: 0;

    border-bottom: 2px solid var(--secondary-color);
    z-index: 900;
}

main.with-admin-nav {
    padding-top: calc(
            var(--nav-height) + var(--admin-nav-height)
    );
}

@media (max-width: 786px) {
    .admin-nav-container {
        display: none;
    }
}

@media (min-width: 769px) {
    main.with-admin-nav {
        padding-top: calc(var(--nav-height) + var(--admin-nav-height));
    }
}

@media (max-width: 768px) {
    main.with-admin-nav {
        padding-top: var(--nav-height);
    }
}

.admin-item {
    display: flex;
    padding: 5px;
    font-size: large;
}

.horizontal-separator {
    font-size: x-large;
    list-style: none;
}

.admin-header {
    text-align: center;
    margin-top: 10px;
}

.active-admin-shortcut, .admin-shortcuts-default {
    padding: 0 10px;
    border-radius: 15px;
    text-decoration: none;
}

.admin-shortcuts-default {
    border: 1px solid var(--primary-color);
}

.active-admin-shortcut {
    border: 1px solid grey;
    color: lightgray;
}
