.admin-nav-container {
    display: flex;
    justify-content: space-evenly;
    top: 10%;
    padding: 8px 0;
    border-bottom: 2px solid white;
    position: fixed;
    width: 100%;
    z-index: 999;
}

.admin-item {
    display: flex;
    padding: 5px;
    font-size: large;
}

.horizontal-separator {
    font-size: x-large;
    list-style: none;
}

.admin-header {
    text-align: center;
    margin-top: 10px;
}

.active-admin-shortcut, .admin-shortcuts-default {
    padding: 0 10px;
    border-radius: 15px;
    text-decoration: none;
}

.admin-shortcuts-default {
    border: 1px solid gold;
}

.active-admin-shortcut {
    border: 1px solid grey;
    color: lightgray;
}
