.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.email-input-box, .password-input-box {
    background: white;
    color: black;
    width: 20vw;
}

.submit-button {
    background: white;
    color: black;
    margin-top: 30px;
    width: 20vw;
}

.form-label > p {
    padding: 0;
}
