.webshop-introduction {
    height: 16vh;
    margin-bottom: 2vh;
}



.webshop-main-container {
    display: flex;
    flex-direction: row;
    border: 1px solid white;
    max-height: 70vh;
    overflow-y: scroll;
    padding: 3px;
    flex-wrap: wrap;
}

.product-catalog {
    display: flex;
    justify-content: space-evenly;
    border: 2px dotted blue;
    padding: 0 10px;
    gap: 10px;
    flex-wrap: wrap;
}

.product-card {
    border: 2px solid gold;
    height: 50vh;
    width: 15vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-card > img {
    max-height: 145px;
    padding: 5px;
}

.product-card > h4 {
    margin-top: 15px;
}

.product-card > p {
    text-align: center;
    padding: 0;
}

.product-image {
    padding: 10px 10px 0 10px;
}

