.menu-page-container {
    display: flex;
    justify-content: space-evenly;
}

.menu-left-side {
    display: flex;
    flex-direction: column;
}

.vertical-line {
    border-left: 1px solid white;
}
.menu-right-side {
    display: flex;
}

.radio-button-container {
    display: flex;
    justify-content: space-evenly;
}


.input-title {
    display: flex;
    flex-direction: column;
}

.menu-form-container {
    display: flex;
    flex-direction: column;
    width: 40vw;
}

.input-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.input-field > input {
    background: white;
    color: black;
    padding: 0 0 0 5px;
}

.submit-button {
    align-self: flex-end;
}

.menu-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.menu-logo {
    max-height: 16vh;
    margin-top: 6px;
}

.mains-name {
    display: flex;
    margin: 0;
    flex-grow: 1;
}

.mains-description {
    flex: 1 1 100%;
    margin: 0.75rem 0 0;
    color: gold;
}

.extras {
    color: gold;
}

.extras + .extras {
    margin-top: 1.5rem;
}


.extras .menu-item {
    margin-bottom: 0.75rem;
}

.extras-heading {
    margin: 0 0 1.5rem;
    border-bottom: 1px solid gold;
}

.extras-drinks-container {
    display: flex;
    flex-direction: column;
    margin-left: 1vw;
}

.extras-name {
    flex-grow: 1;
}

