.page-container {
    display: flex;
    gap: 60px;
    padding: 40px;
    justify-content: space-evenly;
}

.products-left-side {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-input-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.product-input-form label {
    margin-bottom: 6px;
    font-weight: 500;
    font-size: 14px;
}

.product-input-form input {
    padding: 5px;
    color: var(--tertiary-color);
    background-color: var(--secondary-color);
    font-size: 14px;
}

.file-input-button {
    color: var(--secondary-color);
}

.image-preview {
    margin-top: 15px;
    width: 200px;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}

.full-product-preview {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
}

.full-product-preview img {
    width: 200px;
    border-radius: 8px;
}

.success-message {
    margin-top: 15px;
    color: var(--primary-color);
    font-weight: 500;
}

.error-message {
    margin-top: 15px;
    color: #ff4d4d;
    font-weight: 500;
}

.products-add-button {
    background: var(--button-gradient);
    width: 100%;
    color: var(--tertiary-color);
}

.preview-title {
    display: block;
}

@media (max-width: 786px) {
    .page-container {
        flex-direction: column;
        gap: 15px;
        padding: 10px;
        align-items: center;
    }

    .products-left-side,
    .products-right-side {
        width: 100%;
        max-width: 500px;
    }

    .preview-title {
        display: none;
    }

    .products-left-side:has(.product-catalog) .preview-title {
        display: block;
    }

    .vertical-separator {
        display: none;
    }

    .image-preview {
        width: 100%;
        max-width: 250px;
        height: auto;
        margin-top: 10px;
    }

    .product-input-form input,
    .file-input-button {
        width: 100%;
    }

    .products-add-button {
        width: 100%;
    }
}