.outer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 84vh;
    overflow-y: scroll;
}


.main-container {
    display: flex;
    justify-content: center;
}

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    color: gold;
}

.reservation-form-container {
    display: flex;
    flex-direction: column;
    width: 40vw;
}
.allergies-checkboxes {
    margin-left: 10px;
}
.reservation-input-field {
    display: flex;
    flex-direction: column;
}

.reservation-input-field > input {
    background: white;
    color: black;
    padding: 0 0 0 5px;
}

.reservation-input-field > button {
    margin-top: 5px;
    background-color: gold;
    color: black;
    padding: 5px 0;
}
