.outer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 84vh;
    border: 2px dotted green;
}


.main-container {
    display: flex;
    justify-content: center;
    border: 2px dotted blue;
}

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px dotted red;
}

.reservation-input-field {

}