.company-logo {
    border: none;
    max-width: 80px;
    flex-shrink: 2;
    flex-grow: 0;
}

.nav-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 1vh 2vw 0 1vw;
    height: 10%;
    border-bottom: 2px solid var(--primary-color);
    position: fixed;
    top: 0;
    z-index: 1000;
}

.logo-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    flex-shrink: 2;
    flex-grow: 1;
}

.nav-items li {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-items {
    display: flex;
    align-items: center;
    gap: 3vw;
}

.login-icon {
    width: 30px;
}
.active-link {
    text-decoration: underline;
    color: var(--primary-color);
}

.active-link:hover{
    color: var(--primary-color);
}

.default-link {
    text-decoration: none;
    color: var(--secondary-color);
}

.default-link:hover{
    color: var(--primary-color);
}

.logout-button {
    background: var(--button-gradient);
    padding: 11px;
    color: var(--tertiary-color);
    cursor: pointer;
}

.login-button {
    border: none;
    cursor: pointer;
}
