.company-logo {
    border: none;
    max-width: 80px;
    flex-shrink: 2;
    flex-grow: 0;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: var(--nav-height);
    padding: 0 2vw;
    border-bottom: 2px solid var(--primary-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.logo-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    flex-shrink: 0;
    flex-grow: 0;
    margin-right: auto;
}

.nav-items li {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-items {
    display: flex;
    align-items: center;
    gap: 3vw;
    margin-left: auto;
}

.login-icon {
    width: 30px;
}

.active-link {
    text-decoration: underline;
    color: var(--primary-color);
}

.active-link:hover{
    color: var(--primary-color);
}

.default-link {
    text-decoration: none;
    color: var(--secondary-color);
}

.default-link:hover{
    color: var(--primary-color);
}

.logout-button {
    background: var(--button-gradient);
    padding: 11px;
    color: var(--tertiary-color);
    cursor: pointer;
    border-radius: 4px;
}

.login-button {
    border: none;
    cursor: pointer;
}

.menu-toggle {
    display: none;
    font-size: 28px;
    background: none;
    border: none;
    color: var(--secondary-color);
    cursor: pointer;
}


@media (max-width: 768px) {

    @media (max-width: 768px) {
        .menu-toggle {
            display: block;
        }

        .nav-items {
            position: absolute;
            top: var(--nav-height);
            left: 0;
            width: 100%;
            flex-direction: column;
            background-color: rgb(44, 47, 57);
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.3s ease;
        }

        .nav-items.open {
            max-height: 1000px;
        }

        .nav-items li {
            width: 100%;
            padding: 0;
            text-align: center;
        }
    }
}