@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
* {
    background-color: rgb(44,47,57);
    color: var(--secondary-color);
}

h1, h2 {
    font-family: "Playfair Display", serif, "Times New Roman";
}

h1 {
    text-align: center;
}

li {
    list-style: none;
}

:root {
    --nav-height: clamp(60px, 8vh, 90px);
    --admin-nav-height: 48px;
    --primary-color: gold;
    --secondary-color: white;
    --tertiary-color: black;
    --button-gradient: linear-gradient(145deg,rgba(240, 240, 108, 1) 0%, rgba(255, 215, 0, 1) 100%);
    --removal-button-gradient: linear-gradient(145deg, #ff4d4d, #d60000);
}

main {
    padding-top: var(--nav-height);
}

p {
    font-size: 14px;
}

@media (max-width: 768px) {
    .nav-items li a,
    .nav-items li button {
        padding: 10px 20px;
        font-size: 18px;
    }
}

@media screen and (min-width: 769px) {
    p {
        font-size: 16px;
    }
}

@media screen and (min-width: 992px) {
    p {
        font-size: 18px;
    }
}