.company-logo {
    margin: 2vw;
    border: none;
    max-width: 60px;
    flex-shrink: 2;
    flex-grow: 0;
}

.nav-container {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100vw;
    padding: 0 0 1vw 1vw;
    height: 16vh;
    border-bottom: 2px gold solid;
}

.logo-button {
    background: transparent;
    border: none;
    cursor: pointer;
    flex-shrink: 2;
    flex-grow: 1;
}

.nav-items li {
    list-style: none;
}

.nav-items {
    display: flex;
    gap: 3vw;
    margin: 1vw;
}

.login-icon {
    width: 30px;
}
.active-link {
    text-decoration: underline;
    color: gold;
}

.active-link:hover{
    color: gold;
}

.default-link {
    text-decoration: none;
    color: white;
}

.default-link:hover{
    color: gold;
}