.menu-page-container {
    display: flex;
    justify-content: space-evenly;
}

.menu-left-side {
    display: flex;
    flex-direction: column;
    width: 42%;
}
.admin-title {
    text-align: center;
    margin-bottom: 10px;
}
.delete-button {
    background-color: red;
    height: 25px;
    width: 25px;
}

.menu-right-side {
    display: flex;
    flex-direction: column;
}

.radio-button-container  label {
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
}

.radio-button-container {
    display: flex;
    gap: 20px;
}


.input-title {
    display: flex;
    flex-direction: column;
}

.menu-form-container {
    display: flex;
    flex-direction: column;
    width: 40vw;
}


.submit-button {
    align-self: flex-end;
}

.input-field {
    background-color: white;
    color: black;
    padding-left: 5px;
    margin: 4px 0;
}

.add-product-button {
    margin-top: 10px;
    background-color: gold;
    color: black;
}