.menu-page-container {
    display: flex;
    justify-content: space-evenly;
}

.menu-left-side {
    display: flex;
    flex-direction: column;
    width: 42%;
}

.menu-delete-container {
    display: flex;
    align-items: center;
    gap: 15px;
}

.admin-title {
    text-align: center;
    margin-bottom: 10px;
}

.delete-button {
    background: var(--removal-button-gradient);
    cursor: pointer;
    height: 25px;
    width: 25px;
}

.menu-right-side {
    display: flex;
    flex-direction: column;
}

.radio-button-container label {
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
}

.radio-button-container {
    display: flex;
    gap: 20px;
}


.input-title {
    display: flex;
    flex-direction: column;
}

.menu-form-container {
    display: flex;
    flex-direction: column;
    width: 40vw;
}


.submit-button {
    align-self: flex-end;
}

.input-field {
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
    padding-left: 5px;
    margin: 4px 0;
}

.add-product-button {
    margin-top: 10px;
    background: var(--button-gradient);
    color: var(--tertiary-color);
}

.name-price {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

@media (max-width: 768px) {
    .menu-page-container {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 10px;
    }

    .menu-left-side,
    .menu-right-side {
        width: 100%;
        max-width: 600px;
    }

    .vertical-separator {
        display: none;
    }

    .dish-container {
        width: 100%;
        margin-bottom: 15px;
    }

    .title-price-container {
        display: flex;
        gap: 5px;
    }

    .radio-button-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .menu-form-container {
        width: 100%;
    }

    .input-field {
        width: 100%;
    }

    .add-product-button {
        width: 100%;
        margin-top: 15px;
    }

    .delete-button-container {
        display: flex;
        justify-content: flex-end;
    }

    .menu-delete-container {
        display: flex;
        justify-content: space-between;
    }

    .radio-button-container label {
        white-space: nowrap;
    }
}