.webshop-introduction {
    height: 16vh;
    margin-bottom: 2vh;
    text-align: center;
}

.webshop-main-container {
    display: flex;
    flex-direction: row;
    max-height: 70vh;
    border-top: 1px solid var(--secondary-color);
    padding: 3px;
    flex-wrap: wrap;
}

.product-catalog {
    display: flex;
    padding: 0 10px;
    gap: 15px;
    flex-wrap: wrap;
}

.product-card {
    border: 2px solid var(--primary-color);
    border-radius: 8px;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.product-card > img {
    max-height: 16vh;
    border-radius: 8px;
    padding: 5px 5px 0 5px;
}

.quantity-controls {
    width: 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.quantity-button {
    width: 20px;
    height: 20px;
    background: var(--button-gradient);
    color: var(--tertiary-color);
    border: 1px solid var(--tertiary-color);
}

.quantity-total {
    background-color: var(--secondary-color);
    border: 1px var(--tertiary-color);
    color: var(--tertiary-color);
    width: 3vw;
    text-align: center;
    font-size: small;
    height: 20px;
    padding: 0;
    margin: 0;
}

.order-button {
    width: 10vw;
    background: var(--button-gradient);
    color: var(--tertiary-color);
}

.remove-button {
    width: 10vw;
    background: linear-gradient(145deg, #ff4d4d, #d60000);
}

