:root {
    --primary: gold;
    --light: #fafafd;
}


.menu-container {
    display: flex;
    flex-direction: column;
    max-width: 75vw;
    align-items: flex-start;
    border: 2px dotted green;
}

.price-container {
    display: flex;
    border: 2px dotted red;
}

.full-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 84vh;
    overflow-y: scroll;
    border: 2px dotted purple;
}

.menu-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.menu-logo {
    max-height: 16vh;
    margin-top: 6px;
}

.mains-name {
    display: flex;
    margin: 0;
    flex-grow: 1;
    border: 2px dotted white;
}

.mains-description {
    flex: 1 1 100%;
    margin: 0.75rem 0 0;
    color: var(--primary);
}

.extras {
    color: var(--primary);
}

.extras + .extras {
    margin-top: 1.5rem;
}


.extras .menu-item {
    margin-bottom: 0.75rem;
}

.extras-heading {
    margin: 0 0 1.5rem;
    border-bottom: 1px solid var(--primary);
}

.extras-drinks-container {
    display: flex;
    flex-direction: column;
    margin-left: 1vw;
}

.extras-name {
    flex-grow: 1;
}
